.course__item {
  border: 1px solid black;
  padding: 10px;
}

.course-table__item__study-event--container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-table__item__study-event {
  margin: 0 7.5px 2px 7.5px;
}

.course-table {
  justify-content: center;
}

.course-table__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.course-table__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course-table__item {
  width: 100%;
  margin: 5px 5px 5px 5px;
  border: 1px solid black;
}

.course-table__item__header {
  margin: 0;
  padding: 0;
}

.course-table__item__header-text {
  margin: 0 4px 0 1px;
}

.course-table__item__teacher__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-table__item__teacher__item {
  margin: 0;
}