.course__item {
  border: 1px solid black;
}

.course-table__item__study-event--container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course-table__item__study-event {
  margin: 0 7.5px 2px 7.5px;
}