.front-page--container {
  text-align: center;
  margin: auto;
  padding: 0 10px;
}

.course-search--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-header {
  margin: 40px 0 40px 0;
}

@media screen and (min-width: 1040px){
  .front-page--container {
    max-width: 1200px;
  }
}
