.front-page__container {
  text-align: center;
  margin: auto;
  padding: 0 10px;
}

.front-page__top-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.studyfield__container {
  display: flex;
}

.studyfield__input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;

  > select {
    flex: 1;
  }

  > i {
    position: absolute;
    top: 12px;
    right: 10px;
  }
}


.period__container {
  margin: 5px 0 0 0;

  > button {
    margin: 5px 5px 0 0;
    &:last-child {
      margin: 5px 0 0 0;
    }
  }
}

.search__container {
  display: flex;
  flex-direction: row;
}

.search__input-group {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  position: relative;
  padding: 10px 0 10px;
  flex: 1;
  display: flex;

  > input {
    flex: 1;
    padding: 10px 10px 10px 32px;
  }
}

.search__icon {
  top: 21px;
  left: 10px;
  position: absolute;
  pointer-events: none;
  font-size: calc(14px);
}


.main-header {
  margin: 40px 0 40px 0;
}

@media screen and (min-width: $break-desktop){
  .front-page__container {
    max-width: 1200px;
  }
}

.btn-default {
  color: #FFF;
  background-color: #0095ff;
  border-color: #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  display: inline-block;
  position: relative;
  padding: .61538462em 1em;
  vertical-align: middle;
  min-height: 2.46153846em;
  box-sizing: border-box;
  font-weight: 400;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;
  touch-action: manipulation;
  transition: all .1s ease-in;
}

.dropdown-default {
  text-decoration: none;
  padding: 10px;
  background-color: $color-main;
  border: 1px solid $color-grey-border;
  border-radius: 5px;
  font-size: calc(14px);
  appearance: none;
}

.input-default {
  border-radius: 5px;
  font-size: calc(14px);
  padding: 10px;
  border: 1px solid $color-grey-border;
}