.front-page__container {
  text-align: center;
  margin: auto;
  padding: 0 10px;
}

.front-page__top-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.studyfield__container {
  display: flex;
}

.studyfield__input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  flex: 1;

  > select {
    width: 100%;
    padding-right: 22px;
  }

  > i {
    right: 10px;
    top: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
  }
}


.period__container {
  margin: 15px 0 0;

  > button {
    margin: 5px 5px 0 0;
    &:last-child {
      margin: 5px 0 0 0;
    }
  }
}

.search__container {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
}

.search__input-group {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  position: relative;
  flex: 1;
  display: flex;

  > input {
    width: 100%;
    padding: 10px 10px 10px 32px;
  }

  > i {
    left: 16px;
    top: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
  }
}


.main-header {
  margin: 40px 0 40px 0;

  @media screen and (max-width: $break-tablet){
    margin: 20px 0 20px 0;
  }
}

@media screen and (min-width: $break-desktop){
  .front-page__container {
    max-width: 1200px;
  }
}

.btn {
  display: inline-block;
  position: relative;
  padding: .61538462em 1em;
  vertical-align: middle;
  min-height: 2.46153846em;
  box-sizing: border-box;
  font-weight: bold;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  border: 1px solid transparent;
  cursor: pointer;
  touch-action: manipulation;
  transition: all .1s ease-in;
  font-size: calc(14px);
}

.btn-default {
  @extend .btn;
  color: #000;
  background-color: $color-main;
  border: 1px solid $color-grey-border;
}

.btn-active {
  @extend .btn;
  color: #FFF;
  background-color: #0095ff;
}

.btn-inactive {
  @extend .btn;
  color: #FFF;
  background-color: hsla(205, 100%, 50%, 0.5);
}

.dropdown-default {
  text-decoration: none;
  padding: 10px;
  background-color: $color-main;
  border: 1px solid $color-grey-border;
  border-radius: 5px;
  font-size: calc(14px);
  appearance: none;

  > option {
    padding: 4px 2px;
  }
}

.input-default {
  border-radius: 5px;
  font-size: calc(14px);
  padding: 10px;
  border: 1px solid $color-grey-border;
  appearance: none;
}