.course-table-section {
  &__header {
    margin: 30px 0 10px 0;    
  }
}

.course-list {
  list-style-type: none;
  padding: 0;

  &__container {
    text-align: left;    
  }

  &__header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.col--enrollment {
  text-align: center;
  width: 5%;
  min-width: 50px;
}

.col--name {
  width: 70%;
}

.col--date {
  width: 20%;
}

.col--credits {
  text-align: center;
  width: 5%;
  min-width: 50px;
}


.course {
  &__container {
    border: 1px solid $color-grey-border;
    border-radius: 3px;
    margin-bottom: 5px;
  }

  &__title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation-name: to-max-width;
    animation-duration: 2s;
    padding: 5px;
    cursor: pointer;
  }

  &__header {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;

    &__link {
      margin: 0.2em 6px 0 0;
      text-decoration: none;
    }

    &__text {
      margin: 0 4px 0 2px;
      word-break: break-word;
    }
  }

  &__body {
    background-color: $color-course-background;
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    /* transform: translateY(-220px);
    transition: transform 400ms ease-in; */
  }

  &__btn {
    text-decoration: none;
    padding: 5px 10px;
    background-color: $color-main;
    border: 1px solid $color-grey-border;
    border-radius: 5px;

    &__container {
      display: flex;
      justify-content: flex-end;
      margin: 5px 0 0 0;
    }

    &__link {
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }
  }
}

.slide-in {
  transform: translateY(0);
}

.slide-out {
  transform: translateY(-220px);
}
