@mixin visible-on-tablet($display) {
  display: none;
  visibility: hidden;

  @media screen and (max-width: $break-tablet) {
    display: $display;
    visibility: visible;
  }
}

@mixin hidden-on-tablet($display) {
  display: $display;
  visibility: visible;

  @media screen and (max-width: $break-tablet) {
    display: none;
    visibility: hidden;
  }
}

@mixin expand-on-tablet($width) {
  @media screen and (max-width: $break-tablet) {
    width: 100%;
  }
  width: $width;
}

.group-table {
  &__header {
    display: flex;
    flex-direction: row;
  
    @media screen and (max-width: $break-tablet) {
      display: none;
      visibility: hidden;
    }
  }

  &__item {
    width: 100%;
    
    &:nth-child(2n) {
      background-color: $color-group-list-item;    
    }

    @media screen and (max-width: $break-tablet) {
      flex-direction: column;
      width: 100%;
    }

    &--rows {
      @include visible-on-tablet(flex);
      flex-direction: column;
      width: 100%;
    }

    &--columns {
      @include hidden-on-tablet(flex);
      width: 100%;
    }
  }
}

.row--inline {
  @include visible-on-tablet(flex);
  border-bottom: 1px solid $color-dark-border;
  &:last-child {
    border-bottom: 0;
  }
  
  > div {
    &:first-child {
      width: 30%;
    }
    &:last-child {
      width: 70%;
    }
  }
}

.group {
  &__name {
    width: 15%;    
  }

  &__teacher {
    width: 25%;
  }

  &__enrolled {
    width: 7%;
  }

  &__maximum {
    width: 7%;
  }

  &__schedule__wrapper {
    display: flex;
    flex-direction: column;
    width: 46%;
  }

  &__schedule__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: $break-tablet) {
      margin-bottom: 5px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__schedule {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &--inline {
      display: flex;
      flex-direction: column;
    }
  }
}

.schedule {
  &__date {
    width: 40%;
  }

  &__day {
    width: 7%;
  }

  &__time {
    width: 25%;
  }

  &__classroom {
    width: 28%;
  }
}
