.group-table__header {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: $break-tablet) {
    display: none;
    visibility: hidden;
  }
}

.group-table__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  
  &:nth-child(2n) {
    background-color: $color-group-list-item;    
  }
}

.group-table__item__inline-header {
  display: flex;
  flex-direction: column;
  display: none;
  visibility: hidden;

  @media screen and (max-width: $break-tablet) {
    display: block;
    visibility: visible;
    width: 30%;
  }
}

.group-table__item__body {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media screen and (max-width: $break-tablet) {
    flex-direction: column;
    width: 70%;
  }
}

@mixin expand-on-tablet($width) {
  @media screen and (max-width: $break-tablet) {
    width: 100%;
  }
  width: $width;
}

.group {
  &__name {
    @include expand-on-tablet(15%);
  }

  &__teacher {
    @include expand-on-tablet(25%);
  }

  &__enrolled {
    @include expand-on-tablet(7%);
  }

  &__maximum {
    @include expand-on-tablet(7%);
  }

  &__schedule__header {
    @include expand-on-tablet(46%);
  }

  &__schedule__container {
    display: flex;
    flex-direction: column;
    @include expand-on-tablet(46%);
  }
}

.group__schedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.schedule {
  &__date {
    width: 40%;
  }

  &__day {
    width: 7%;
  }

  &__time {
    width: 25%;
  }

  &__classroom {
    width: 28%;
  }
}
